<!-- Launch Modal Dialog -->
<div class="modal fade" id="launchModal" tabindex="-1" role="dialog" aria-labelledby="launchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Launch</h4>
      </div>
      <%= form_tag(launch_images_path, :method => :post) do %> 
      <div class="modal-body">
          <div class="form-group">
            <label for="message-text" class="control-label">Container Name</label>
            <%= text_field_tag :container_name, "", :class => "form-control" %>
          </div>
          <%= hidden_field_tag :image_name %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Launch", :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
<!--
$('#launchModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var param = button.data('whatever').split('|')
  var image_full = param[0];
  var image_name = param[0].split('___')[0];
  var image_id = param[1]
  var title = image_name + "  ( " + image_id.substring(0, 10) + " )";
  $('#image_name').val(image_full);
  var modal = $(this)
  modal.find('.modal-title').text(title)
  setTimeout(function() {$('#container_name').focus();}, 1000);
})
// -->
</script>
